<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Ready Bootstrap Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}">
    <link rel="stylesheet" href="assets/css/ready.css" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" href="assets/css/demo.css" th:href="@{/assets/css/demo.css}">
</head>
<body>
<div class="wrapper">
    <!-- 顶部栏 -->
    <div class="main-header">
        <div class="logo-header">
            <a href="/admin/main.html" class="logo">
                Hinstein Blog
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>

        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">

                <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                    <div class="input-group">
                        <input type="text" placeholder="Search ..." class="form-control">
                        <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-envelope"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-bell"></i>
                            <span class="notification">4</span>
                        </a>
                        <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                            <li>
                                <div class="dropdown-title">You have 4 new notification</div>
                            </li>
                            <li>
                                <div class="notif-center">
                                    <a href="#">
                                        <div class="notif-icon notif-primary"><i class="la la-user-plus"></i></div>
                                        <div class="notif-content">
												<span class="block">
													New user registered
												</span>
                                            <span class="time">5 minutes ago</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="notif-icon notif-success"><i class="la la-comment"></i></div>
                                        <div class="notif-content">
												<span class="block">
													Rahmad commented on Admin
												</span>
                                            <span class="time">12 minutes ago</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="notif-img">
                                            <img src="/assets/img/profile2.jpg" alt="Img Profile">
                                        </div>
                                        <div class="notif-content">
												<span class="block">
													Reza send messages to you
												</span>
                                            <span class="time">12 minutes ago</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="notif-icon notif-danger"><i class="la la-heart"></i></div>
                                        <div class="notif-content">
												<span class="block">
													Farrah liked Admin
												</span>
                                            <span class="time">17 minutes ago</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="javascript:void(0);"> <strong>See all notifications</strong> <i
                                        class="la la-angle-right"></i> </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <img src="/assets/img/profile.jpg" alt="user-img" width="36"
                                 class="img-circle"><span></span>Hinstein</span></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="user-box">
                                    <div class="u-img"><img src="/assets/img/profile.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4>Hinstein</h4>
                                        <p class="text-muted">1191915168@qq.com</p>
                                        <a class="btn btn-rounded btn-danger btn-sm" th:href="@{/admin/exit}"
                                           method="post">Sign Out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="/assets/img/profile.jpg">
                </div>
                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Hinstein
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/admin/settings}">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item ">
                    <a th:href="@{/admin/main.html}">
                        <i class="la la-dashboard"></i>
                        <p>Dashboard</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/timeline}">
                        <i class="la la-hourglass-start"></i>
                        <p>Time Line</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/articles}">
                        <i class="la la-edit"></i>
                        <p>Articles</p>
                        <span class="badge badge-success">[[${session.articlesSize}]]</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/notifications/1}">
                        <i class="la la-bell"></i>
                        <p>Notifications</p>
                        <span class="badge badge-primary">[[${session.contactsSize}]]</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a th:href="@{/admin/recycleBin/1}">
                        <i class="la la-trash-o"></i>
                        <p>Recycle Bin</p>
                        <span class="badge badge-danger">[[${session.recycleBinSize}]]</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">回收站</div>
                            </div>
                            <div class="card-body">
                                <table class="table table-head-bg-warning">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th>发布时间</th>
                                        <th>浏览量</th>
                                        <th>点赞量</th>
                                        <th>评论数</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="recycleBin:${recycleBins}">
                                        <td th:text="${recycleBin.id}"></td>
                                        <td th:text="${#strings.abbreviate(recycleBin.title,10)}"></td>
                                        <!--<td th:text="${article.content}"></td>-->
                                        <td th:utext="${#strings.abbreviate(recycleBin.content,15)}"></td>
                                        <td th:text="${#dates.format(recycleBin.date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td th:text="${recycleBin.views}"></td>
                                        <td th:text="${recycleBin.likes}"></td>
                                        <td th:text="${recycleBin.count}"></td>
                                        <td>
                                            <a class="btn  btn-success"
                                               th:href="@{/admin/recycleBin/recover/}+${recycleBin.id}">恢复</a>
                                            <a class="btn  btn-primary"
                                               th:href="@{/admin/recycleBin/content/}+${recycleBin.id}">查看</a>
                                            <button th:attr="del_uri=@{/admin/recycleBin/}+${recycleBin.id}"
                                                    class="btn btn-danger deleteBtn">彻底删除
                                            </button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body">
                                <ul class="pagination pg-primary">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/recycleBin/}+${prePage}"
                                           th:hidden="${prePage}==0"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:each="i:${#numbers.sequence(1,maxPage)}">
                                        <a class="page-link" href="#" th:text="${i}" th:href="@{/admin/recycleBin/}+${i}">1</a>
                                    </li>

                                    <!--<a th:each="i:${#numbers.sequence(1,maxPage)}">-->
                                    <!--<a th:text="${i}" class="btn btn-primary" th:href="@{/admin/articles/}+${i}"></a>-->
                                    <!--</a>-->

                                    <li class="page-item">
                                        <a class="page-link " aria-label="Next" disabled="disabled" th:href="@{/admin/recycleBin/}+${nextPage}"
                                           th:hidden="${nextPage}==0">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                                </p>
                            </div>
                            </main>
                            <form id="deleteArticleForm" method="post">
                                <input type="hidden" name="_method" value="delete"/>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
<script src="assets/js/core/jquery.3.2.1.min.js" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"
        th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script src="assets/js/core/popper.min.js" th:src="@{/assets/js/core/popper.min.js}"></script>
<script src="assets/js/core/bootstrap.min.js" th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script src="assets/js/plugin/chartist/chartist.min.js" th:src="@{/assets/js/plugin/chartist/chartist.min.js}"></script>
<!--<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"-->
<!--th:src="@{/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>-->
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"
        th:src="@{/assets/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"
        th:src="@{/assets/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"
        th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>
<script src="assets/js/demo.js" th:src="@{/assets/js/demo.js}"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"
        th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"
        th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script src="assets/js/ready.min.js" th:src="@{/assets/js/ready.min.js}"></script>

<script>
    $(".deleteBtn").click(function () {
        //删除当前员工的
        $("#deleteArticleForm").attr("action", $(this).attr("del_uri")).submit();
        return false;
    });
</script>

</html>